canvas {
    border-radius: 10px;
    background: #f8f9fa; /* لون خلفية ناعم */
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    border-bottom: 3px solid #3498db; /* تغيير اللون حسب الكارد */
}

.card-header {
    padding-top: 20px;
}

.card-body {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-icon {
    font-size: 30px;
    margin-right: 10px;
}

/* إضافة لون خط أسفل الكارد بناءً على المحتوى */
.card-reviews {
    border-bottom: 3px solid #ff5733; /* اللون الأحمر لمراجعات التطبيقات */
}

.card-questions {
    border-bottom: 3px solid #28a745; /* اللون الأخضر للأسئلة */
}

.card-categories {
    border-bottom: 3px solid #f39c12; /* اللون الأصفر للفئات */
}

.card-users {
    border-bottom: 3px solid #1e90ff; /* اللون الأزرق للمستخدمين */
}

